XENOS_HTTP_ADDR=:8080
XENOS_DATABASE_URL=postgres://xenos:xenos@localhost:5432/xenos?sslmode=disable
XENOS_REGION=eu-de-1

# Proxmox
XENOS_PVE_URL=https://pve.example.com:8006
XENOS_PVE_NODE=pve
XENOS_PVE_TOKEN_ID=xenos@pve!control
XENOS_PVE_TOKEN_SECRET=
XENOS_PVE_STORAGE=vmdata
XENOS_PVE_BRIDGE=vmbr0

# iSpend: leave XENOS_ISPEND_URL empty to use the in-memory fake
XENOS_ISPEND_URL=
XENOS_ISPEND_TENANT_KEY=
XENOS_ISPEND_WEBHOOK_SECRET=
XENOS_ISPEND_MERCHANT_WALLET=
